<header>
  <h1>Login</h1>
</header>

<%= form_tag session_path do %>
  <div class="row">
    <div class="form-group col-md-12">
      <%= label_tag :email %>
      <%= text_field_tag :email, nil, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-12">
      <%= label_tag :password %>
      <%= password_field_tag :password, nil, class: "form-control" %>
    </div>
  </div>

  <%= submit_tag "Login", class: "btn btn-success" %>
<% end %>
