<%= turbo_frame_tag post, class: "col" do %>
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <span><%= post.title %></span>
      <small class="text-muted">
        <%= post.account.email %>
        <% if post.account == current_account %>
          <%= link_to "Edit", [:edit, post] %>
        <% end %>
      </small>
    </div>
    <div class="card-body">
      <%= post.content %>
    </div>
    <div class="card-footer">
      <%= turbo_frame_tag dom_id(post, :comments), src: [post, :comments] %>
    </div>
  </div>
<% end %>
