<header>
  <h1>New Post</h1>
</header>

<% if flash[:error].present? %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% end %>

<%= form_for @post do |f| %>
  <div class="row">
    <div class="form-group col-md-12">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-12">
      <%= f.label :body %>
      <%= f.rich_text_area :body %>
    </div>
  </div>

  <hr size="1" />

  <%= f.submit nil, class: "btn btn-primary" %>
<% end %>
